<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="onBackButtonClick()" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Connessione</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content align-items-center justify-content-center color="light">
  <ion-grid style="height: 100%" align-items-center color="light" padding>
    <ion-row justify-content-center align-items-center style="height: 15%">
      <ion-text color="medium" text-align-center padding>
        <strong>Connessione al device</strong>
      </ion-text>
    </ion-row>

    <ion-row justify-content-center align-items-center style="height: 15%">
      <ion-text color="medium" [innerHtml]="mibandConnection">
      </ion-text>
      <div [hidden]="spinnerHidden">
        <ion-spinner color="primary"></ion-spinner>
      </div>
    </ion-row>

    <ion-row justify-content-center align-items-center style="height: 60%">
      <ion-img src='../../assets/img/smartband-ble.png'></ion-img>
    </ion-row>
  </ion-grid>

</ion-content>