
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--ion-color-dark);
  color: white;
  height: 12%;

  ion-grid {
    height: 100%;
  }

  ion-row {
    height: 100%;
    align-items: center;
  }

  ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  img {
    transform: scale(0.6);
    border: 3pt solid white;
    border-radius: 50%;

  }
}

ion-list {
  height: 85%;
  overflow: scroll
}


#leaderStarIcon {
  color: gold;
}



