<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>Leaderboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullsreen>
  <ion-list>
    <ion-item-divider>
      <ion-label>
        Leader
      </ion-label>
    </ion-item-divider>
    <ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src={{profileImage(this.users[0])}}>
        </ion-avatar>
        <ion-label>
          <h2>1 {{this.users[0].firstName}} {{this.users[0].lastName}}</h2>
          <h3>Fitness Points: <b>{{this.users[0].score}}</b></h3>
        </ion-label>
        <ion-icon slot="end" name="md-star"></ion-icon>
      </ion-item>
    </ion-list-header>
<ion-item-divider>
  <ion-label>
    Others
  </ion-label>
</ion-item-divider>

      <ion-item *ngFor="let user of this.users | slice:1; index as i" class="otherRow" (click)="onUserClick(i)">
        <ion-avatar slot="start">
          <img src={{profileImage(user)}}>
        </ion-avatar>
        <ion-label>
          <h2>{{i+2}} {{user.firstName}} {{user.lastName}}</h2>
          <h3>Fitness Points: <b>{{user.score}}</b></h3>
        </ion-label>
      </ion-item>




  </ion-list>

  <footer id="userRow" class="flex-container">
    <div>{{currentUserRank}}</div>
    <div><img src={{profileImage(currentUser)}} id="userImg" /></div>
    <div>{{currentUser.firstName}} {{currentUser.lastName}}</div>
    <div>{{currentUser.score}}</div>
  </footer>


</ion-content>