<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title >
  </ion-toolbar>
</ion-header>

<ion-content align-items-center  justify-content-center>
  <ion-grid align-items-center  justify-content-center>
    <ion-row  justify-content-center >
      <ion-col size-xs="6" size-md="4" size-lg="4" *ngFor="let activity of this.activities" no-padding>
        <ion-card justify-content-center button="true" no-margin (click)="startSession(activity)">
          <ion-card-header no-padding>
            <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
          </ion-card-header>
          <ion-card-content text-center>
            {{activity}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
