
ion-card {
    display: flex;
    margin:auto;

   /* height: 80%;W
    //border-color: lightgrey;
    //border-style: solid;
    //border-width: 0px 1px 1px 0;
    -webkit-box-shadow: 0px !important;
    //box-shadow: none !important;
    border-radius: 0;*/
}

ion-img {
    margin: 0,0,0,0;
    padding: 0,0,0,0;
    transform: scale(0.5,0.5);
}

body, html {
  height: 100%;
  background: #fff;
}


.pulse {
  border-radius: 60%;
  background: var(--ion-color-primary);
  cursor: pointer;
  box-shadow: 0 0 0 rgba(44, 145, 204, 0.4);
  animation: pulse 1.5s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(44, 145, 204, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(44, 145, 204, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(44, 145, 204, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(44, 145, 204, 0.4);
    box-shadow: 0 0 0 0 rgba(44, 145, 204, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(44, 145, 204, 0);
      box-shadow: 0 0 0 10px rgba(44, 145, 204, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(44, 145, 204, 0);
      box-shadow: 0 0 0 0 rgba(44, 145, 204, 0);
  }
}

/*ion-grid {
    width:90%;
}*/