ion-card {
    //height: 100%;
    /*border-color: lightgrey;
    border-style: solid;
    border-width: 0px 1px 1px 0;
    -webkit-box-shadow: 0px !important;
    box-shadow: none !important;
    border-radius: 0;*/
}

ion-img {
    transform: scale(0.6,0.6);
}

ion-content {
    height: 10px;

}

ion-grid {
    width:90%;
}