@import "../../theme/variables.scss";

ion-grid {
    height: 100%;
}

ion-img {
    width: 50%;
    height: 50%;
}


.register_button{
    font-weight: bold;
    text-decoration: underline; 
    color: white;
}