<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title >
  </ion-toolbar>
</ion-header>

<ion-content align-items-center  justify-content-center>
  <ion-grid align-items-center  justify-content-center fixed="true">
    <ion-row  justify-content-center >
      <ion-col size-xs="6" size-md="4" size-lg="4" *ngFor="let activity of this.activities" no-padding>
        <ion-card justify-content-center routerLink="/home" routerDirection="root" button="true" 
        (click)="startSession(activity)" no-margin >
          <ion-card-content text-center>
            <ion-img src={{sessionType.getIcon(activity)}}></ion-img>
            <h2>{{activity}}</h2>        
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="!this.isBluetoothConnected()">
      <ion-fab-button (click)="navigateToDeviceConnectionPage()" class='pulse'>
        <ion-icon name="bluetooth"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>

<!--<ion-footer class="footer">
  <ion-button expand="full" (click)="navigateToDeviceConnectionPage()">Connect <ion-icon name="bluetooth"></ion-icon></ion-button>
</ion-footer>-->
