<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Out of ion-content to keep it fixed at top-->
<!-- Segment with default selection -->
<ion-segment *ngIf="this.allSessions.length>0" (ionChange)="segmentChanged($event)" value="{{this.SessionPeriods.LAST}}">
  <ion-segment-button value="{{this.SessionPeriods.LAST}}">
    <ion-label>Ultima</ion-label>
  </ion-segment-button>
  <ion-segment-button value="{{this.SessionPeriods.MONTH}}">
    <ion-label>Mese</ion-label>
  </ion-segment-button>
  <ion-segment-button value="{{this.SessionPeriods.YEAR}}">
    <ion-label>Anno</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-content ion-justify-content-center>
  <div *ngIf="this.allSessions.length>0; then thenBlock else elseBlock"></div>

    <ng-template #thenBlock>
      <!-- LAST staticstics template-->
      <div *ngIf="timePeriod===this.SessionPeriods.LAST; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <ion-card>
            <ion-item>
              <ion-icon name="md-calendar" slot="start"></ion-icon>
              <ion-label>{{ lastSessionDate() }}</ion-label>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item>
              <ion-icon name="md-time" slot="start"></ion-icon>
              <ion-label>{{ lastSessionDuration() }}</ion-label>
            </ion-item>
          </ion-card>



          <ion-grid align-items-center justify-content-center>
            <ion-row justify-content-center>
              <ion-col size="12">
                <h2>Freq. Cardiaca</h2>
                <line-chart [src]="heartRateData()">

                </line-chart>
              </ion-col>
            </ion-row>
            <ion-row size="12" justify-content-center>
              <ion-col size="6">
                <ion-text>
                  <h2 class="value">{{ minHeartRate() }} bpm</h2>
                  <h4 class="label">Min Freq. Cardiaca</h4>
                </ion-text>
              </ion-col>

              <ion-col size="6">
                <ion-text>
                  <h2 class="value">{{ maxHeartRate() }} bpm</h2>
                  <h4 class="label">Max Freq. Cardiaca</h4>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row size="12" justify-content-center>
              <ion-col size="6">
                <ion-text>
                  <h2 class="value">{{ lastSession.type }}</h2>
                  <h4 class="label">Tipo Sessione</h4>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-text>
                  <h2 class="value">{{ lastSession.pedometer.calories }} kcal</h2>
                  <h4 class="label">Calorie</h4>
                </ion-text>
              </ion-col>
            </ion-row>

            <ion-row size="12" justify-content-center>
              <ion-col size="6">

                <ion-text>
                  <h2 class="value">{{ lastSession.pedometer.steps }}</h2>
                  <h4 class="label">Passi</h4>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-text>
                  <h2 class="value">{{ lastSession.pedometer.distance }} m</h2>
                  <h4 class="label">Distanza</h4>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-template>

        <!-- GENERAL staticstics template-->
        <ng-template #elseBlock>
          <ion-card>
            <ion-item>
              <ion-icon slot="start" name="md-fitness"></ion-icon>
              <ion-label>Sessioni questo {{ this.timePeriod }}: {{ getAllSessionsInSelectedPeriod().length }}</ion-label>
            </ion-item>
          </ion-card>


          <ion-grid align-items-center justify-content-center>
            <ion-row justify-content-center>
              <ion-col>
                <ion-card>

                </ion-card>
                <h2>Calorie</h2>
                <bar-chart [src]="caloriesBarChartData()" [xAxisDateFormat]="caloriesBarChartDateFormat()">

                </bar-chart>
              </ion-col>
            </ion-row>
            <ion-row size="12" justify-content-center>
              <ion-col size="6">
                <ion-text>
                  <h2 class="value">{{ favoriteSessionType() }}</h2>
                  <h4 class="label">Sessione Preferita</h4>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-text>
                  <h2 class="value">{{ allCalories() }} kCal</h2>
                  <h4 class="label">Calorie Totali</h4>
                </ion-text>
              </ion-col>
            </ion-row>

            <ion-row size="12" justify-content-center>
              <ion-col size="6">
                <ion-text>
                  <h2 class="value">{{ allSteps() }}</h2>
                  <h4 class="label">Passi Totali</h4>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-text>
                  <h2 class="value">{{ allDistance() }} m</h2>
                  <h4 class="label">Distanza Totale</h4>
                </ion-text>
              </ion-col>
            </ion-row>

            <ion-row size="12" justify-content-center>
              <ion-col size="6">
                <ion-text>
                  <h2 class="value">{{ allSteps() }}</h2>
                  <h4 class="label">Passi Totali</h4>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-text>
                  <h2 class="value">{{ wholeTimeSpentOnSessions() }} </h2>
                  <h4 class="label">Tempo in Sessione</h4>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-template>
    </ng-template>

    <ng-template #elseBlock>

      <ion-card>
        <ion-item>
          <ion-icon name="md-alert" slot="start" color="warning"></ion-icon>
          <ion-label>Nessuna sessione disponibile</ion-label>
          <ion-button fill="outline" slot="end" (click)="navigateToHomePage()">START</ion-button>
        </ion-item>
      
        <ion-card-content>
          Sembra che tu non abbia completato alcuna sessione.
          Inizia una nuova sessione per vedere le statistiche in questa pagina.
        </ion-card-content>
      </ion-card>
      
      
      </ng-template>
  





</ion-content>