
ion-col {
  border: thin solid lightgray;
}

ion-row {
text-align: center;
}

.value {
  color: var(--ion-color-dark);
  font-weight: bold;
}

.label {
  color: var(--ion-color-medium);
}

ion-label {
  font-size: 12px;
}

