<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="dismissModal()" defaultHref="tabs/leaderboard" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.user.username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content align-items-center>
  <ion-grid>
    <ion-row align-items-center justify-content-center>
      <ion-col align-items-center justify-content-center size="6">
        <div class="profile-photo-div">
          <circle-progress class="profile-photo" 
          [percent]="85" 
          [backgroundOpacity]="1" 
          [radius]="100" 
          [toFixed]="0"
          [maxPercent]="100" 
          [outerStrokeWidth]="5" 
          [outerStrokeColor]="'#058dba'" 
          [animationDuration]="800"
          [showTitle]="false" 
          [showSubtitle]="false" 
          [showUnits]="false" 
          [showInnerStroke]="false"
           [responsive]="true">
          </circle-progress>
          <img class="profile-img" src="{{profileImage(this.user)}}" alt="Profile image">
        </div>



      </ion-col>
      <ion-col size="6">
        <ion-list class="profile-top-info">
          <ion-item lines="none">
            <ion-col size="12">
              <ion-label color="medium">Username</ion-label>
              <ion-label color="dark"><strong>{{this.user.username}}</strong></ion-label>
            </ion-col>
          </ion-item>

          <ion-item lines="none">
            <ion-col size="12">
              <ion-label color="medium">Punteggio</ion-label>
              <ion-label color="dark"><strong>{{this.user.score}}</strong></ion-label>
            </ion-col>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>

<div padding class="badges">
  <ion-label padding><strong>Badges</strong></ion-label>
  <ion-row nowrap padding>
    <ion-col *ngFor="let badge of userBadges" size-xl="1" size-lg="1" size-md="2" size-sm="3" size-xs="3">
      <ion-img [src]="server+'/images/badges/'+badge.image" (click)="onBadgeClick(badge)"></ion-img>
    </ion-col>
    <ion-col *ngFor="let badge of lockedBadges" size-xl="1" size-lg="1" size-md="2" size-sm="3" size-xs="3">
      <ion-img class="locked" [src]="server+'/images/badges/'+badge.image" (click)="onBadgeClick(badge)"></ion-img>
    </ion-col>
  </ion-row>
</div>

</ion-content>