<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>MiBand API Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Date:</ion-label>
      <ion-label color="medium" text-wrap>{{this?.date}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Battery:</ion-label>
      <ion-label color="medium">{{this?.battery}}%</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Steps:</ion-label>
      <ion-label color="medium">{{this?.steps}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Calories:</ion-label>
      <ion-label color="medium">{{this?.calories}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Distance:</ion-label>
      <ion-label color="medium">{{this?.distance}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>HeartRate:</ion-label>
      <ion-label color="medium">{{this?.heartRate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-segment>
        <ion-segment-button *ngFor="let item of this.notificationsList" [value]="item" (ionSelect)="this.miBand.sendNotification(this.notification(item))">
            <ion-icon [name]="this.iconOf(item)"></ion-icon>
          </ion-segment-button>
      </ion-segment>
    </ion-item>
  </ion-list>

</ion-content>