<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>Profilo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content align-items-center>
  <ion-grid>
    <ion-row align-items-center justify-content-center>
      <ion-col align-items-center justify-content-center size="7">
        <div class="profile-photo-div">
          <circle-progress class="profile-photo" 
          [percent]="85" 
          [backgroundOpacity]="1" 
          [radius]="100" 
          [toFixed]="0"
          [maxPercent]="100" 
          [outerStrokeWidth]="5" 
          [outerStrokeColor]="'#058dba'" 
          [animationDuration]="800"
          [showTitle]="false" 
          [showSubtitle]="false" 
          [showUnits]="false" 
          [showInnerStroke]="false"
           [responsive]="true">
          </circle-progress>
          <img (click)="editImage()" class="profile-img" src="{{profileImage()}}" alt="Profile image">
        </div>



      </ion-col>
      <ion-col size="5">
        <ion-list class="profile-top-info">
          <ion-item lines="none">
            <ion-col size="12">
              <ion-label color="medium">Username</ion-label>
              <ion-label color="dark"><strong>{{this.user.username}}</strong></ion-label>
            </ion-col>
          </ion-item>

          <ion-item lines="none">
            <ion-col size="12">
              <ion-label color="medium">Punteggio</ion-label>
              <ion-label color="dark"><strong>{{this.user.score}}</strong></ion-label>
            </ion-col>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>

  <div padding class="badges">
    <ion-label padding><strong>Badges</strong></ion-label>
    <ion-row nowrap padding>
      <ion-col *ngFor="let badge of this.userBadges" size-xl="2" size-lg="2" size-md="2" size-sm="3" size-xs="3">
          <ion-img [src]="server+'/images/badges/'+badge.image"></ion-img>        
      </ion-col>
    </ion-row>
  </div>

  <div padding class="informations">
    <ion-label padding><strong>Informazioni</strong></ion-label>
    <ion-grid fixed no-margin>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-col size="12">
              <ion-label color="medium">Sesso</ion-label>
              <ion-label color="dark"><strong>{{this.user.gender}}</strong></ion-label>
            </ion-col>
          </ion-item>

        </ion-col>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-col size="12">
              <ion-label color="medium">Età</ion-label>
              <ion-label color="dark"><strong>{{calculateAge(this.user.birthDate)}}</strong></ion-label>
            </ion-col>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-col size="12">
              <ion-label color="medium">Altezza</ion-label>
              <ion-label color="dark"><strong>{{this.user.height}}</strong></ion-label>
            </ion-col>
          </ion-item>

        </ion-col>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-col size="12">
              <ion-label color="medium">Peso</ion-label>
              <ion-label color="dark"><strong>{{this.user.weight}}</strong></ion-label>
            </ion-col>
          </ion-item>

        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <div padding>
    <ion-button (click)="logout()" color="danger">
      Logout
    </ion-button>
  </div>
</ion-content>